/* 
 * date: 20180412 
 * author: herj
 * description: 大数据看板 数据平台 css
 */
 
 .keyBoard{
    width: 100%;
    height: 100%  
}
 
.brand-wrap.main {
	margin-top: 0;
	color: #fff;
	font-family: '微软雅黑';
}
 

/*头部标题和时间标题媒体查询*/
@media only screen and (max-width:1600px ) {
	.brandMian-til-big {
		height: 30px;
		padding:0 20px ;
		line-height: 30px;
		font-size: 16px;
	}
}
 


/*实时拜访组件区域 -----------------------*/
.visit-panel {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #3f7ba2;
}
@media only screen and (max-width:1600px ) {
	.visit-panel  {
		height: calc(100% - 35px);
	}
}
 

/*实时订单组件区域-----------------------*/
.order-panel {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #3f7ba2;
}
@media only screen and (max-width:1600px ) {
	.order-panel  {
		height: calc(100% - 35px);
	}
}

 
/*品类销售排行（深圳）组件区域-----------------------*/
 
/*重点区域组件*/
.keyArea-panel {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
	/* padding: 10px; */
	margin-top: 5px;
	border: 1px solid #3f7ba2;
}       
@media only screen and (max-width:1600px ) {
	.keyArea-panel  {
		height: calc(100% - 35px);
	}
}
 

/*今日总览组件区域-----------------------*/
.overview-panel {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #3f7ba2;
}
@media only screen and (max-width:1600px ) {
	.overview-panel  {
		height: calc(100% - 35px);
	}
}
.overview-list {
	width: 100%;
	height: 100%;
}
.overview-list li{
	float: left;
	width: 25%;
	height: 50%;
}
.overview-list li.big{
	float: left;
	width: 50%;
	height: 50%;
}

.overview-list-txt {
	font-size: 14px;
}
.overview-list-numBig {
	font-weight: bold;
	font-size: 40px;
	line-height: 1;
}
.overview-panel .overview-list-num {
	font-size: 12px;
}
.overview-panel .overview-list-num1 {
	color: #50e9e6;
}
.overview-panel .overview-list-num2 {
	color: #13d895;
}
.overview-panel .overview-list-num3 {
	color: #f08c1a;
}
.overview-panel .overview-list-num4 {
	color: #36e8b8;
}
.overview-panel .overview-list-num5 {
	color: #69e1ff;
}
.overview-panel .overview-list-num6 {
	color: #69e1ff;
}
.overview-panel .overview-list-num7 {
	color: #ffd954;
}     
/*今日总览组件区域  媒体查询  */

@media only screen and (max-width:1079px ) {
	.overview-list-numBig {
		font-size: 18px;
	}
}
@media only screen and (min-width:1280px ) {
	.overview-list-numBig {
		font-size: 26px;
	}
}
@media only screen and (min-width:1360px ) {
	.overview-list-numBig {
		font-size: 38px;
	}
}
@media only screen and (min-width:1400px ) {
	.overview-list-numBig {
		font-size: 40px;
	}
} 
 
 /*品类销售排行 组件区域-----------------------*/
.transaction-panel {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #3f7ba2;
	
}
@media only screen and (max-width:1600px ) {
	.transaction-panel  {
		height: calc(100% - 35px);
	}
}
.transaction-date {
	box-sizing: border-box;
	width: 100%;
	height: 20px;
	font-size: 12px;
}
 
.tradingVolume-panel.big .tradingVolume-list li {
	height: 16.67%;
}

.tradingVolume-panel {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #3f7ba2;	
}
@media only screen and (max-width:1600px ) {
	.tradingVolume-panel  {
		height: calc(100% - 35px);
	}
}


/*分时交易图形组件区域-----------------------*/
.timeSharing-panel {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 45px);
	margin-top: 5px;
	border: 1px solid #3f7ba2;
}
@media only screen and (max-width:1600px ) {
	.timeSharing-panel  {
		height: calc(100% - 35px);
	}
}

