/*交易图形列表*/
.transaction-list{
	width: 100%;
	height: calc(100% - 20px);
}
.transaction-list li {
	float: left;
	width: 33.3%;
	height: 100%;
}
.transaction-bar-wrap {
	position: relative;
	width: 66px;
	height: calc(100% - 20px);
	margin: auto;
}
/*左侧条柱，本周*/
.transaction-thisWeek{
    position: absolute;
    bottom: 0;
    left: 0;
	width: 28px;
	height: calc(100% - 15px);
	color: #69e1ff;
}
.transaction-thisWeek-wrap {
	position: absolute;
	z-index: 3;
	left: 0;
	bottom: 0;
	display: block;
	width: 28px;
	max-height: 100%;
	background-color: #69e1ff;
	transition: all .5s;
}
.transaction-thisWeek-bar{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.transaction-thisWeek-bar-txt {
	position: absolute;
	z-index: 9;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 35px;
	height: 15px;
	font-size: 12px;
	color:#69e1ff ;
	font-size: 11px;
	text-align: center;
}

/*右侧条柱，上周*/
.transaction-lastWeek{
    position: absolute;
    bottom: 0;
    right: 0;
	width: 28px;
	height: calc(100% - 15px);
	color: #69e1ff;
}
.transaction-lastWeek-wrap {
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
	display: block;
	width: 28px;
	max-height: 100%;
	background-color: #13d895;
	transition: all .5s;
}
.transaction-lastWeek-bar{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.transaction-lastWeek-bar-txt {
	position: absolute;
	z-index: 9;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 35px;
	height: 15px;
	font-size: 12px;
	color:#13d895 ;
	font-size: 11px;
	text-align: center;
}

/*文字标题*/
.transaction-list-name {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	
}

 

.tradingVolume-list{
	width: 100%;
	height: 100%;
}
.tradingVolume-list li {
	position: relative;
	height: 33.3%;
	line-height: 22px;
	font-size: 16px;
	padding: 0 10px;
	margin-bottom: 5px;
}

 

.tradingVolume-top {
	width: 100%;
	height: 20px;
}
 
.transaction-date {
	box-sizing: border-box;
	width: 100%;
	height: 20px;
	font-size: 12px;
}
.this-week {
	float: right;
	width: 40px;
	height: 12px;
	margin-right: 20px;
	color: #69e1ff;
}
.this-week-icon {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #69e1ff;
}
.last-week {
	position: relative;
	float: right;
	width: 40px;
	height: 12px;
	color: #13d895;
}
.last-week-icon {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #13d895;
}   

/*交易图形列表  媒体查询  */
@media only screen and (min-height:600px ) {
	.transaction-list-name {
		font-size: 12px;
	}
}

@media only screen and (min-height:800px ) {
	.transaction-list-name {
		font-size: 14px;
	}
	
}
@media only screen and (min-height:900px ) {
	.transaction-list-name {
		font-size: 16px;
	}
}